@font-face {
  font-family: 'Mazzard';
  src: local('Mazzard'), url(./fonts/MazzardH-Bold.otf) format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Mazzard';
  src: local('Mazzard'), url(./fonts/MazzardH-SemiBold.otf) format('opentype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Mazzard';
  src: local('Mazzard'), url(./fonts/MazzardH-Medium.otf) format('opentype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Mazzard';
  src: local('Mazzard'), url(./fonts/MazzardH-Regular.otf) format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Mazzard';
  src: local('Mazzard'), url(./fonts/MazzardH-Light.otf) format('opentype');
  font-style: normal;
  font-weight: 300;
}